/* Style the entire page background and font */

body {
    margin: 0;
    padding: 0;
    background-color: #61605f;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #2c3e50;
    text-align: center;
}

.banner{
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.banner img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 55%;
}

h1 {
    font-size: clamp(25px, 4vw, 45px);
    color: white;
    text-align: left;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 5%;   
}

.blocks {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

.link_border {
    background-color: #413b49;
    color: white;
    font-size: clamp(12px, 2vw, 20px);
    width: 90%;
    min-width: 150px;
    max-width: 400px;
    height: 100%;
    align-self: stretch;
    box-sizing: border-box;
}

.link_border a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 25px 15PX;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.link_border a:hover {
    background-color: rgb(96, 146, 113);
}
.socials {
    background-color: rgb(50, 54, 54);
    width: 100%;
    max-width: 1500px;
    height: auto;
    min-height: 100px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: clamp(16px, 2vw, 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.socials p {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    
}



.socials a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex: 1;
    min-width: 100px;
    height: auto;
    min-height: 100px;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.blocks .socials a i {
    display: block;
    font-size: 20px !important;
    margin-bottom: 8px;
    margin-right: 0;
}

.socials a:hover {
    background-color: rgb(96, 146, 113);
}
.image-container{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 15px;
      margin: 20px 0;
      width: 100%;

}
.image-container img{
    width:  100%;
    height:auto;
    object-fit: cover;
    border-radius: 8px;
}
.leftColum {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  /* This forces its grandchild (.link_border) to fill up the height */
  align-items: stretch; 
}